@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto Mono', monospace;
  cursor: url('/images/cursor.png'), auto !important;
}

.bg-slider {
  background-color: #f4f4f4;
}
